<footer class="bg-light text-center text-lg-start mt-5">
    <div class="container p-3">
        <div class="text-center d-flex justify-content-center align-items-center">
            <span>© 2024 Recipe Manager. All rights reserved.</span>
            <span class="mx-2">
                <!-- Emeği Geçenler Bağlantısı -->
                <a href="#" class="text-dark" data-bs-toggle="modal" data-bs-target="#contributorsModal">
                    <i class="fas fa-heart"></i> Emeği Geçenler
                </a>
                <a href="https://github.com/furk4nbulut" class="text-dark">
                    <i class="fab fa-github"></i> Kaynak Kodlar
                </a>
            </span>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="contributorsModal" tabindex="-1" aria-labelledby="contributorsModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="contributorsModalLabel">Emeği Geçen</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-center">
                    <img src="https://avatars.githubusercontent.com/u/93736726?v=4" alt="Profile Picture" class="rounded-circle mb-3 img-fluid" style="max-width: 100px; height: auto;"> <!-- Profil Resmi -->

                    <h6>Furkan Bulut</h6>
                    <p>Proje Geliştirici</p>
                    <p>
                        <a href="https://github.com/furk4nbulut" class="text-dark me-3"><i class="fab fa-github"></i></a>
                        <a href="https://twitter.com/furk4nbulut" class="text-dark me-3"><i class="fab fa-twitter"></i></a>
                        <a href="https://linkedin.com/in/furk4nbulut" class="text-dark"><i class="fab fa-linkedin"></i></a>
                    </p>
                    <p>
                        Email: <a href="mailto:furkanbtng@gmail.com" class="text-dark"><i class="fas fa-envelope"></i> furkanbtng@gmail.com</a>
                    </p>
                    <p>
                        Web Sitesi: <a href="https://furk4nbulut.github.io" class="text-dark" target="_blank"><i class="fas fa-globe"></i> furk4nbulut.github.io</a>
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- Bootstrap JS (veya Bundle) ve Font Awesome için gerekli script'ler -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
