{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="text-center mt-5">
    <h1>Welcome to the Recipe Management System</h1>
    <div class="row mt-4">
        <div class="col-md-4">
            <a href="{% url 'recipes_list' %}" class="btn btn-primary btn-lg">View Recipes</a>
        </div>
        <div class="col-md-4">
            <a href="{% url 'add_new_recipe' %}" class="btn btn-success btn-lg">Add New Recipe</a>
        </div>
        <div class="col-md-4">
            <a href="{% url 'optimize_recipe' %}" class="btn btn-warning btn-lg">Optimize Recipes</a>
        </div>
    </div>
</div>
{% endblock %}
